<header class="bg-gradient fw-bold">
    <nav class="navbar navbar-expand-md navbar-dark">
        <!-- Logo -->
        <div class="container-fluid justify-content-md-start justify-content-center col-md-1 col-12">
            <a routerLink="/Home" class="navbar-brand">
                <img class="Logo" src="../../../assets/images/GustoPizzaLogo Without BG.png">
            </a>
        </div>
        <!-- Navbar -->
        <div class="container-fluid justify-content-start col-md-8 col-6">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#PrimaryNavbar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="PrimaryNavbar">
                <ul class="navbar-nav me-auto ms-4">
                    <li class="nav-item">
                        <a routerLink="/NewOrder" class="nav-link">New Order</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/Orders" class="nav-link">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ContactUsSection">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#AboutUsSection">About Us</a>
                    </li>
                </ul>
            </div>       
        </div>
        <!-- Customer Info -->
        <div class="container-fluid justify-content-end col-md-3 col-6">
            <p class="CustomerInfo d-none d-md-block">
                Customer Name
            </p>
            <img src="https://cdn4.iconfinder.com/data/icons/green-shopper/1068/user.png" width="50" alt="Avatar">
        </div>
    </nav> 
</header>