<div class="container">
    <div class="row">
        <!--Left Side-->
        <div class="left-side col-md-2 col-lg-4 col-sm-2 col-xs-2 d-flex justify-content-center"></div>

        <!-- flex-column : fix the problem of register button -->

        <!--Center-->
        <div class="col-md-8 col-lg-4 col-sm-8 col-xs-8 d-flex flex-column justify-content-center">
            <div class="border main-frame m-4 border-dark border-5 p-5">
                <div class="d-flex mt-4 flex-row justify-content-center">
                    <img class="img justify-content-center"
                        src="../../../assets/images/GustoPizzaLogo Without BG.png" />
                </div>

                <h2 class="txt-register d-flex flex-row justify-content-center mt-5">
                    Login
                </h2>

                <div class="d-flex mt-4 flex-row justify-content-center">
                    <input [(ngModel)]="email" class="form-control" type="text" placeholder="Email" required/>
                </div>

                <div class="d-flex mt-4 flex-row justify-content-center">
                    <input [(ngModel)]="password" class="form-control" type="password" placeholder="Password" required/>
                </div>

                <div class="d-flex justify-content-center mt-2">
                    <button type="button" class="mt-2 btn btn-warning" (click)="resetData()">
                        Reset
                    </button>
                    <button type="button" class="ms-2 mt-2 btn btn-success" (click)="tryLoginIn()">
                        Login
                    </button>
                </div>
                <div class="d-flex mt-4 flex-row justify-content-center">
                    <span *ngIf="invalidData" class="fw-bold text-white">
                        Incorrect Data
                    </span>
                </div>
            </div>

            <div class="out-btn d-flex mt-3 justify-content-center">
                <a routerLink="/Register">
                    <button class="btn btn-primary mt-2" type="button">Register</button>
                </a>
            </div>
        </div>
        <!--Right Side-->
        <div class="col-md-2 col-lg-4 col-sm-2 col-xs-2 d-flex justify-content-center"></div>
    </div>
</div>
<!-- main-frame is the border with the color -->