<!DOCTYPE html>
<html>
    <body>
        <div class="d-flex justify-content-center">
            <div class="main-frame border m-4 border-dark border-5 p-5">
                <!-- Back Button -->
                <a routerLink="/Login">
                    <i class="bi text-light fs-2 bi-arrow-left-circle-fill"></i>
                    <!-- <button class="Register btn btn-primary" type="button">
                    </button> -->
                </a>
                <!-- Gusto Img -->
                <div class="d-flex justify-content-center">
                    <img class="img" src="../../../assets/images/GustoPizzaLogo Without BG.png"/>          
                </div>
                <!-- Register Title -->
                <h2 class="txt-login d-flex flex-row justify-content-center m-3">
                    Register
                </h2>
                <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                    <!-- Full Name Input -->
                    <div class="d-flex flex-wrap d-flex justify-content-between">
                        <!-- First Name Input -->
                        <div class="col-12 col-sm-5 mt-4">
                            <input name="FirstName" #FirstName="ngModel" ngModel class="form-control" type="text" placeholder="First Name" required>
                            <div class="text-light" *ngIf="(FirstName.touched || FirstName.dirty) && FirstName.invalid">
                                <!-- <span *ngIf="FirstName.errors?"></span> -->
                                Please provide your first name.
                            </div>
                        </div>
                        <!-- Last Name Input -->
                        <div class="col-12 col-sm-5 mt-4">
                            <input name="LastName" #LastName="ngModel" ngModel class="form-control" type="text" placeholder="Last Name" required/>
                            <div class="text-light" *ngIf="(LastName.touched || LastName.dirty) && LastName.invalid">
                                Please provide your last name.
                            </div>
                        </div>
                    </div>
                    <!-- Phone Input -->
                    <div class="mt-4">
                        <input name="Phone" #Phone="ngModel" ngModel class="form-control" type="text" placeholder="Phone"/>
                    </div>
                    <!-- Address Input -->
                    <div class="mt-4">
                        <input name="Address" #Address="ngModel" ngModel class="form-control" type="text" placeholder="Address"/>
                    </div>
                    <!-- Email Input -->
                    <div class="mt-4">
                        <input name="Email" #Email="ngModel" ngModel class="form-control" type="text" placeholder="Email" required/>
                        <div class="text-light" *ngIf="(Email.touched || Email.dirty) && Email.invalid">
                            Please provide your Email.
                        </div>
                    </div>
                    <!-- Password Input -->
                    <div class="mt-4">
                        <input name="Password" #Password="ngModel" ngModel class="form-control" type="password" placeholder="Password" required/>
                        <div class="text-light" *ngIf="(Password.touched || Password.dirty) && Password.invalid">
                            Please choose a password.
                        </div>
                    </div>
                    <!-- Confirm Password Input -->
                    <div class="mt-4">
                        <input name="ConfirmPassword" #ConfirmPassword="ngModel" ngModel class="form-control" type="password" placeholder="Confirm Password" required/>
                        <div class="text-light" *ngIf="(Password.value != ConfirmPassword.value) && (ConfirmPassword.touched || ConfirmPassword.dirty)">
                            Must match the given password.
                        </div>
                    </div>
                    <!-- Reset/Register Buttons -->
                    <div class="d-flex justify-content-center mt-2">
                        <button type="button" class="mt-2 btn btn-warning" (click)="registerForm.reset()">Reset</button>
                        <button type="submit" class="ms-2 mt-2 btn btn-success" [disabled]="registerForm.invalid || (Password.value != ConfirmPassword.value) || registerForm.submitted">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>