<!DOCTYPE html>

<html>
    <body>
        <div class="d-flex justify-content-center">
            <!--Center-->
            <div class="mb-5">
                <div class="border main-frame m-4 border-dark border-5 p-5">
                    <div class="d-flex mt-4 flex-row justify-content-center">
                        <img class="img justify-content-center"
                            src="../../../assets/images/GustoPizzaLogo Without BG.png" />
                    </div>

                    <h2 class="txt-register d-flex flex-row justify-content-center mt-5">
                        Login
                    </h2>

                    <div class="d-flex mt-4 flex-row justify-content-center">
                        <input [(ngModel)]="email" class="form-control" type="email" placeholder="Email" required/>
                    </div>

                    <div class="d-flex mt-4 flex-row justify-content-center">
                        <input [(ngModel)]="password" class="form-control" type="password" placeholder="Password" required/>
                    </div>

                    <div class="d-flex justify-content-center mt-2">
                        <button type="button" class="mt-2 btn btn-warning" (click)="resetData()">
                            Reset
                        </button>
                        <button type="button" class="ms-2 mt-2 btn btn-success" (click)="tryLoginIn()">
                            Login
                        </button>
                    </div>
                    <div class="d-flex mt-4 flex-row justify-content-center">
                        <span *ngIf="invalidData" class="fw-bold text-white">
                            Incorrect Data
                        </span>
                    </div>
                </div>

                <div class="out-btn d-flex my-3 justify-content-center">
                    <a routerLink="/Register">
                        <button class="btn btn-primary mt-2" type="button">Register</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>