<!-- Contact Us Section -->
<div class="bg-white">
    <div class="d-flex text-center flex-wrap">
      <div class="m-md-5 m-3 col-md-6 col">
        <img src="../../../assets/images/ContactUs Pic.jpg" class="img-fluid shadow-lg rounded" alt="A picture of a pizza in the proccess of cooking">
      </div>
      <div class="align-self-center m-2 col-md">
          <h3 class="fw-bold">Contact Us</h3>
          <p class="text-capitalize lh-lg">
            Feel free to give us feed back on the quality of our service,
            we always want the satisfation of our customers.
          </p>
          <div class="d-flex d-block">
            <h5 class="col-6 fw-bold">Contact Us</h5>
            <h5 class="col-6 fw-bold">*55555</h5>
          </div>
      </div>
    </div>
  </div>