<!-- Order Info -->
<div class="m-5 d-flex flex-wrap">
    <app-pizza-card *ngFor="let pizza of currentOrder.Pizzas; let i = index" [pizza]="pizza" (removePizza)="removePizza(i)"></app-pizza-card>
    <app-drink-card *ngFor="let drink of currentOrder.Drinks; let i = index" [drink]="drink" (removeDrink)="removeDrink(i)"></app-drink-card>
    
    <div class="align-self-center">
        <div class="d-flex align-items-center justify-content-center m-2" style="width: 18rem;">
            <button class="btn btn-success m-2" (click)="showModal(addPizzaTemplate)">
                <mat-icon>local_pizza</mat-icon>
                <div>
                    Add Pizza
                </div>
            </button>
            <button class="btn btn-success m-2" (click)="showModal(addDrinkTemplate)">
                <mat-icon class="bi-trash2-fill"></mat-icon>
                <div>                
                    Add Drink
                </div>
            </button>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-success" (click)="showModal(checkoutTemplate)">
                <div class="d-flex m-2 fw-bold">
                    <mat-icon>shopping_cart</mat-icon>
                    Checkout
                </div>
            </button>
        </div>
    </div>
</div>

<!-- Add Pizza Modal -->
<ng-template #addPizzaTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Pizza</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #addPizzaFrom="ngForm" (ngSubmit)="addPizza(addPizzaFrom)" class="row g-3">
        <!-- Size input -->
        <div class="mb-2">
          <div class="input-group">
            <label class="input-group-text">Size</label>
            <select name="PizzaSize" #PizzaSize="ngModel" ngModel class="form-select" required>
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let size of availableSizes" [ngValue]="size">{{size.SizeName}} - $ {{size.SizePrice}}</option>
            </select>
          </div>
          <div class="alert alert-danger mt-2 mb-0" role="alert" *ngIf="PizzaSize.touched && PizzaSize.invalid">
            This field is required
          </div>
        </div>
        <!-- Quantity input -->
        <div class="mb-2">
          <div class="input-group">
            <label class="input-group-text">Quantity</label>
            <input name="Quantity" #Quantity="ngModel" ngModel class="form-control" type="number" min="1" [max]="maxNumberOfPizzas" required>
          </div>
          <div class="alert alert-danger mt-2 mb-0" role="alert" *ngIf="(Quantity.touched || Quantity.dirty) && Quantity.invalid">
            This field is required and must be a number between 1 and {{maxNumberOfPizzas}}
          </div>
        </div>
        <!-- Toppings input -->
        <div class="card p-0">
          <label class="input-group-text mb-2">Toppings</label>
          <div class="form-check m-2" *ngFor="let toppingCheckbox of availableToppings">
            <input id="{{toppingCheckbox.Topping.ToppingName}}CheckBox" [ngModelOptions]="{standalone: true}" [(ngModel)]="toppingCheckbox.IsSelected" class="form-check-input" type="checkbox">
            <div class="form-check-label container">
              <label class="col-6" for="{{toppingCheckbox.Topping.ToppingName}}CheckBox">
                {{toppingCheckbox.Topping.ToppingName}}
              </label>
              <label class="col-6" for="{{toppingCheckbox.Topping.ToppingName}}CheckBox">
                $ {{toppingCheckbox.Topping.ToppingPrice}}
              </label>
            </div>
          </div>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!addPizzaFrom.valid">Add Pizza</button>
      </form>
    </div>
</ng-template>

<!-- Add Drink Modal -->
<ng-template #addDrinkTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Drink</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #addDrinkFrom="ngForm" (ngSubmit)="addDrink(addDrinkFrom)" class="row g-3">
        <!-- Drink Type Input -->
        <div class="mb-2">
          <div class="input-group">
            <label class="input-group-text">Drink Type</label>
            <select name="Drink" #Drink="ngModel" ngModel class="form-select" required>
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let drink of availableDrinks" [ngValue]="drink">{{drink.DrinkName}} - $ {{drink.DrinkPrice}}</option>
            </select>
          </div>
          <div class="alert alert-danger mt-2 mb-0" role="alert" *ngIf="Drink.touched && Drink.invalid">
            This field is required
          </div>
        </div>
        <!-- Quantity Input -->
        <div class="mb-2">
          <div class="input-group">
            <label class="input-group-text">Quantity</label>
            <input name="Quantity" #Quantity="ngModel" ngModel class="form-control" type="number" min="1" [max]="maxNumberOfDrinks" required>
          </div>
          <div class="alert alert-danger mt-2 mb-0" role="alert" *ngIf="(Quantity.touched || Quantity.dirty) && Quantity.invalid">
            This field is required and must be a number between 1 and {{maxNumberOfDrinks}}
          </div>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!addDrinkFrom.valid">Add Drink</button>
      </form>
    </div>
</ng-template>

<!-- Checkout Modal -->
<ng-template #checkoutTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Checkout</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <!-- Pizzas -->
          <tr *ngFor="let pizza of currentOrder.Pizzas">
            <th scope="row">
              <mat-icon>local_pizza</mat-icon>
              Pizza
            </th>
            <td>{{pizza.Quantity}}</td>
            <td>{{pizza.Size.SizeName}}</td>
            <td>$ {{pizza.pizzaPrice()}}</td>
          </tr>
          <!-- Drinks -->
          <tr *ngFor="let drink of currentOrder.Drinks">
            <th scope="row">
              <mat-icon class="bi-trash2-fill"></mat-icon>
              Drink
            </th>
            <td>{{drink.Quantity}}</td>
            <td>{{drink.DrinkName}}</td>
            <td>$ {{drink.DrinkPrice * drink.Quantity}}</td>
          </tr>
        </tbody>
      </table>
      <!-- Checkout Button And Total Price -->
      <div class="d-flex justify-content-between">
        <button class="btn btn-success" type="button" (click)="checkout()" [disabled]="isLoading || (currentOrder.Pizzas.length == 0 && this.currentOrder.Drinks.length == 0)">Checkout</button>
        <div class="d-flex align-items-center text-success me-3">
          <i class="bi bi-coin fs-4"></i>
          <label class="m-2 fs-6 text-uppercase ">
            Total:
          </label>
          <label class="fs-6 text-uppercase fw-bold">
            $ {{currentOrder.totalOrderPrice()}}
          </label>
        </div>
      </div>
    </div>
</ng-template>