.Background{
    color: darkred;
    font-family: 'Handlee', cursive;
    background-image: url('../../../assets/images/Background.jpg');
    height: 100%;
}
.AboutUs{
    background-color: rgba(145, 0, 0, 0.83);
    color: aliceblue;
}
.AboutUsText{
    width: 65%;
}

@media (max-width: 768px) {
    
    .AboutUsText{
        width: 100%;
    }
}